@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');

$white: #dcdcdc;
$light-gray: #dedede;
$gray: #8c8c8c;
$dark-gray: #3c3c3c;
$black: #000000;
$orange: #FFAA00;
$purple: #500050;
$light-purple: #CC00CC;