@use 'color';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  background:
          linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
          url("../assets/images/background.png") no-repeat center center fixed;
  //background: darkslategray;
  background-size: cover;
  color: color.$white;
  font-family: 'VT323', monospace;
  overflow-x: hidden;
}

footer {
  position: fixed;
  bottom: 10px;
  width: 100vw;

  display: flex;
  justify-content: space-between;

  font-size: 1.2rem;
  & > p {
    margin-right: 15px;
    margin-left: 15px;
  }
}

.orange {
  color: color.$orange
}