@use '../color';

body:has(.page) {
  background:
          linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
          url("../../assets/images/background/settings.png") no-repeat center center fixed;
  background-size: cover;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  height: 100vh;

  & > * {
    margin-top: 5rem;
  }

  & > h1 {
    font-size: 72px;
  }

  & > p {
    color: color.$orange;
    font-size: 1.5rem;
  }
}

.homeButton {
  width: 20vw;
}