body:has(.profilePage) {
  background:
          linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
          url("../../assets/images/background/profile.png") no-repeat center center fixed;
  background-size: cover;
}

.profilePage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 15px;

  font-size: 1.4rem;
  width: 40vw;

  margin: 0 auto;
}

.pageTitle {
  font-size: 3.5rem;
  padding-bottom: 15px;
}

.passwordDiv {
  display: flex;
}

.profileInfo {
  width: 50%;
}

.passwordText {
  flex: 2;
}

.passwordInput {
  flex: 1;
}