@use "../color";

body:has(.socialPage) {
  background:
          linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
          url("../../assets/images/background/social.png") no-repeat center center fixed;
  background-size: cover;
}

.profilePicture {
  $imgSize: 200px;
  object-fit: cover;
  width: $imgSize;
  height: $imgSize;
}

.socialPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  height: 100vh;
  width: 60%;

  margin: 0 auto;

  gap: 15px;
}

.title {
  font-size: 3.5rem;
  margin-bottom: 15px;
}

.elements {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 40px;

  width: 100%;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.element {

  background: color.$light-gray;
  border: 4px solid color.$gray;
  box-shadow: 0 0 0 4px black;
  padding: 15px;

  width: 100%;

  color: black;

  gap: 20px;

  & > p {
    font-size: 2rem;
  }
}